body {
    background-color: #282c34;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial;
}

/* ----------- Contact ----------- */

.contactCard {
    color: white;
    margin: 30px;
    width: 280px;

    font-family: Avenir, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.smallContactCard {
    color: white;
    font-size: small;
    margin: 10px;
    height: 40px;
}

.contactCard > div, .smallContactCard > div {
    border-style: solid;
    border-color: #cccccc;
}

.smallContactCard > div {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.contactCard > div {
    padding: 10px;
    border-radius: 12px;
    border-width: 2px;
}

.smallContactCard > div {
    padding: 5px;
    border-radius: 6px;
    border-width: 1px;
}

div.accused {
    background-color: #8063e1;
    background-image: linear-gradient(135deg, #bd7be8, #8063e1);
    box-shadow: 5px 5px 5px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #8063e1;
}

div.judge {    
    background-color: #3f58e3;
    background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
    box-shadow: 5px 5px 5px rgba(34,50,84,0.5), 1px 1px 0px 1px #3f58e3;
}

div.barrister {
    background-color: #2c6fd1;
    background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
    box-shadow: 5px 5px 5px rgba(34,50,84,0.5), 1px 1px 0px 1px #2c6fd1;
}

div.prosecutor {
    background-color: #352f64;
    background-image: linear-gradient(135deg, #415197, #352f64);
    box-shadow: 5px 5px 5px rgba(34,50,84,0.1), 1px 1px 0px 1px #352f64;
}

.smallContactCard > div:hover {
    border-color: darkorange;
    transform: scale(1.1);
}

.contactEmail {
    font-weight: 500;
    opacity: 0.8;
    font-style: italic;
}

.contactCaseId {
    color: white;
    text-decoration: underline;
}

.contactCaseRole {
    text-align: center;
    width: 100%;
    font-size: small;
}

/* ----------- Court Case ----------- */

.courtCaseCard {
    margin: 1em;
    padding: 1em;
    background-color: #352f64;
    border-radius: 10px;    
    width: 30%;    
}

.courtCaseDetailed {
    width: 100%;
    margin: 0em;
    margin-top: 1em;
}

.courtCaseCard > Link {
    cursor: pointer;
}

.courtCaseTitle {
    text-align: center;
}

.courtCaseDescription {    
    opacity: .9;
}
.courtCaseValue {
    float: right;
    color: black;
    background-color: limegreen;
    border-radius: 6px;
    padding: 3px;
    font-size: small;
    opacity: .9;
}

.courtCaseDate {
    float: right;
    color: black;
    background-color: limegreen;
    border-radius: 6px;
    padding: 3px;
    font-size: small;
    opacity: .9;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/* -------------------------------- */

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #8063e1;
    padding: .5em;
}

.headerTitle {
    text-align: center;
}